Appium-Python-Client
async-generator
attrs
beautifulsoup4
cachetools
certifi
chardet
charset-normalizer
coverage
cssselect
cssutils
h11
idna
Jinja2
lxml
mailchimp-marketing
mailchimp-transactional
MarkupSafe
nose
nose-htmloutput
nose2
outcome
premailer
python-dateutil
python-http-client
requests
selenium
sendgrid
six
sniffio
sortedcontainers
soupsieve
starkbank-ecdsa
trio
trio-websocket
urllib3
wsproto
yagmail
